<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
    <div class='card'>
      <div class="card-body">
        <%= f.label t('entity_fields.user.username') %>
        <%= f.text_field :username, autofocus: true, class: 'form-control' %>
      </div>

      <div class="card-body">
        <%= f.label t('entity_fields.user.email') %>
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
      </div>

      <div class="card-body">
        <%= f.label t('entity_fields.user.new_password') %> <i><%= t('alerts.password_info')%></i>
        <%= f.password_field :password, class: 'form-control' %>
        <% if @minimum_password_length %>
          
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="card-body">
        <%= f.label t('entity_fields.user.confirm_password') %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>

      <div class="card-body">
        <%= f.label t('entity_fields.user.old_password') %> <i><%= t('alerts.password_confirm')%></i>
        <%= f.password_field :current_password, class: 'form-control' %>
      </div>

      <div class="actions">
        <%= link_to t('button_options.return'), :back, class: 'btn btn-outline-secondary' %>
        <%= f.submit t('button_options.save'), class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
