<h1 class='mt-2'>Configuration</h1>
<%= render 'flash_message' %>
<div class='container'>
  <h3 class='mt-2'>Logo</h3>
  <%= image_tag @configuration.get_image, class: 'img-fluid js-image-replacer' %>
  <br>
  <%= link_to 'Edit', edit_frontend_configuration_path(@configuration), remote: true, class: 'mt-2 btn btn-outline-warning' %>
</div>
<div class='container'>
  <h3 class='mt-2'>Sliders</h3>
  <%= render 'backend/sliders/filter' %>
  <table class="table table-bordered">
    <thead class="thead-light">
      <tr>
        <th>Name</th>
        <th>Image</th>
        <th class='text-right'><%= link_to 'New', new_slider_path, remote: true, class: 'btn btn-primary' %></th>
      </tr>
    </thead>
    <tbody id='sliders_container'>
      <%= render @presenter.sliders %>
    </tbody>
  </table>

  <%= will_paginate @presenter.sliders %>
</div>

<% content_for :modal do %>
  <%= render 'modal' %>
<% end %>