<tr id='<%= dom_id(tag) %>'>
  <td><%= slider.name %></td>
  <td><%= slider.image.image %></td>
  <td class='text-right'>
    <%= link_to 'Edit', edit_category_path(slider), remote: true, class: 'btn btn-sm btn-outline-warning' %>
    <%= link_to 'Delete', category_path(slider), remote: true, method: :delete, data: { confirm: 'Esta seguro?' }, class: 'btn btn-sm btn-outline-danger' %>
  </td>
</tr>