<tr id='<%= dom_id(slider) %>'>
  <td><%= slider.name %></td>
  <td><%= image_tag slider.image.attachment, class: 'img-fluid' %></td>
  <td class='text-right'>
    <%= link_to  t('button_options.edit'), edit_admin_slider_path(slider), remote: true, class: 'btn btn-sm btn-outline-warning' %>
    <%= link_to t('button_options.delete'), admin_slider_path(slider), remote: true, method: :delete, data: { confirm: t('alerts.you_sure')}, class: 'btn btn-sm btn-outline-danger' %>
  </td>
</tr>