<h1 class='mt-2'><%= t('entities.tags')%></h1>
<%= render 'flash_message' %>

<%= render 'filter' %>

<table class="table table-bordered">
  <thead class="thead-light">
    <tr>
      <th><%= t('entity_fields.tag.name')%></th>
      <th class='text-right'><%= link_to t('button_options.new'), new_admin_tag_path, class: 'btn btn-primary' %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @presenter.tags %>
  </tbody>
</table>

<%= will_paginate @presenter.tags %>