
<%= render 'flash_message' %>

<% @url= (@user.persisted? ? admin_user_path : admin_users_path ) %>

<%= form_with model: @user, url: @url, local: true do |f| %>
<div class='card'>
  <div class='card-body'>
    <div class="form-group">
      <%= f.label :username, t('entity_fields.user.username') %>
      <%= f.text_field :username, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :email, t('entity_fields.user.email') %>
      <%= f.text_field :email, class: 'form-control' %>
    </div>
  </div>
  <div class='card-footer'>
    <%= link_to t('button_options.return'), admin_users_path, class: 'btn btn-outline-secondary' %>
    <%= f.submit t('button_options.save'), class: 'btn btn-primary' %>
  </div>
</div>
<% end %>
