<h1 class='mt-2'>Categorias</h1>
<%= render 'flash_message' %>

<%= render 'filter' %>

<table class="table table-bordered">
  <thead class="thead-light">
    <tr>
      <th>Nombre</th>
      <th class='text-right'><%= link_to 'Nueva', new_admin_category_path, class: 'btn btn-primary' %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @presenter.categories %>
  </tbody>
</table>

<%= will_paginate @presenter.categories %>