<!DOCTYPE html>
<html>
  <head>
    <title>Backend fleamarket</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'backend', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'backend', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'backend/navbar' %>
    <div class="d-flex" id="wrapper">
      <div class="bg-light border-right" id="sidebar">
        <%= render 'backend/sidebar' %>
      </div>
      <div id="page-content-wrapper" class='container'>
      <button class="btn btn-primary mt-2 mb-4" id="menu-toggle">Toggle Menu</button>
        <%= yield %>

        <%= yield :modal %>
      </div>
    </div>
  </body>
</html>
